<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Create & Access SQLite database using Python

Estimated time needed: **15** minutes

## Objectives

After completing this lab you will be able to:

*   Create a database
*   Create a table
*   Insert data into the table
*   Query data from the table
*   Retrieve the result set into a pandas dataframe
*   Close the database connection

SQLite is a software library that implements a self-contained, serverless, zero-configuration, transactional SQL database engine. SQLite is the most widely deployed SQL database engine in the world.

Key features of SQLite include:

- Self-Contained: The entire SQLite database is contained in a single file. This makes it easy to distribute and manage, as there is no separate database server to install or configure.

- Serverless: Unlike traditional database management systems, SQLite doesn't rely on a separate server process to manage the database. Applications directly interact with the SQLite library, making it simpler to integrate into applications.

- Zero Configuration: SQLite doesn't require extensive configuration or setup. Once you have the library, you can start using it immediately without complex installation procedures.

- Cross-Platform: SQLite is cross-platform and works on a wide range of operating systems, including Windows, macOS, Linux, iOS, Android, and more.

- ACID Compliance: SQLite is ACID (Atomicity, Consistency, Isolation, Durability) compliant, meaning it ensures data integrity and reliability even in the face of failures.

- SQL Support: SQLite supports a subset of SQL (Structured Query Language) for performing operations like creating, updating, querying, and deleting data in the database.

- Transaction Support: SQLite supports transactions, allowing you to group multiple database operations into a single transaction that can be rolled back if needed.

- Low Resource Usage: Due to its lightweight nature, SQLite can work efficiently even on devices with limited resources.

- Libraries and Bindings: SQLite provides libraries and bindings for various programming languages, making it easy to integrate with applications written in different languages.

## Task 1: Create database using SQLite

In [1]:
import sqlite3

# Connect to an SQLite database file named 'INSTRUCTOR.db'
conn = sqlite3.connect('INSTRUCTOR.db')

In this code snippet:

- `import sqlite3`: This line imports the sqlite3 module, which is a built-in module in Python used for interacting with SQLite databases.

- `conn = sqlite3.connect('INSTRUCTOR.db')`: This line establishes a connection to the SQLite database file named 'INSTRUCTOR.db'. If the file doesn't exist, SQLite will create it. If it already exists, SQLite will open it.

Cursor class is an instance using which you can invoke methods that execute SQLite statements, fetch data from the result sets of the queries. You can create Cursor object using the cursor() method of the Connection object/class.

In [2]:
# create a cursor object
cursor_obj = conn.cursor()

you're creating a cursor using `conn.cursor()`. Think of this cursor (cursor_obj) as the "finger" or "pointer". It's like a tool that you'll use to interact with the data in the database. With this cursor object, you can now execute SQL commands, fetch and manipulate data, and perform various operations on the database. It's the tool that helps you navigate through the data and perform actions on it.

## Task 2: Create a table in the database

In this step we will create a table in the database with following details:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/table.png" align="center">

Before creating a table, let's first if the table already exist or not. To drop the table from a database use **DROP** query. A cursor is an object which helps to execute the query and fetch the records from the database.

In [3]:
# Drop the table if already exists.
cursor_obj.execute("DROP TABLE IF EXISTS INSTRUCTOR")

- The `.execute()` method of the cursor object is used to execute SQL commands. In this case, you're executing an SQL command to drop a table named "INSTRUCTOR".

- `DROP TABLE IF EXISTS INSTRUCTOR`is an SQL statement. It's telling the database to remove the "INSTRUCTOR" table if it exists. The `IF EXISTS` part makes sure that if the table doesn't exist, there won't be an error. It will just continue without doing anything.

## Dont worry if you get this error:

If you see an exception/error similar to the following, indicating that INSTRUCTOR is an undefined name, that's okay. It just implies that the INSTRUCTOR table does not exist in the table - which would be the case if you had not created it previously.

<strong>Exception: \[IBM]\[CLI Driver]\[DB2/LINUXX8664] SQL0204N  "ABC12345.INSTRUCTOR" is an undefined name.  SQLSTATE=42704 SQLCODE=-204</strong>

In [4]:
# Creating the SQL table creation command
table = """CREATE TABLE IF NOT EXISTS INSTRUCTOR(
             ID INTEGER PRIMARY KEY NOT NULL,
             FNAME VARCHAR(20),
             LNAME VARCHAR(20),
             CITY VARCHAR(20),
             CCODE CHAR(2)
          );"""

# Executing the table creation command
cursor_obj.execute(table)

# Printing a confirmation message
print("Table is Ready")

Table is Ready

## Task 3: Insert data into the table

In this step we will insert some rows of data into the table.

The INSTRUCTOR table we created in the previous step contains 3 rows of data:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/table1.png" align="center">

We will start by inserting just the first row of data, i.e. for instructor Rav Ahuja

In [5]:
cursor_obj.execute('''insert into INSTRUCTOR
                   values
                   (1,'Rav','Ahuja','TORONTO','CA')''')

The output you will get something as: <strong>sqlite3.Cursor at 0x27a1a491260</strong> which means mySql database has sqlite3.Cursor object at 0x27a1a49126 as output in table. But you may get the different number.

Now use a single query to insert the remaining two rows of data

In [6]:
cursor_obj.execute('''insert into INSTRUCTOR 
                      values 
                      (2, 'Raul', 'Chong', 'Markham', 'CA'),
                      (3, 'Hima', 'Vasudevan', 'Chicago', 'US')''')

## Task 4: Query data in the table

In this step we will retrieve data we inserted into the INSTRUCTOR table.

In [7]:
# SQL statement to select all rows from the "INSTRUCTOR" table
statement = '''SELECT * FROM INSTRUCTOR'''

# Executing the SELECT statement using the cursor
cursor_obj.execute(statement)

# Printing a message
print("All the data")

# Fetching all rows from the result set
output_all = cursor_obj.fetchall()

# Looping through each row and printing its data
for row_all in output_all:
    print(row_all)

All the data
(1, 'Rav', 'Ahuja', 'TORONTO', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')
(3, 'Hima', 'Vasudevan', 'Chicago', 'US')

In [8]:
# SQL statement to select all rows from the "INSTRUCTOR" table
statement = '''SELECT * FROM INSTRUCTOR'''

# Executing the SELECT statement using the cursor
cursor_obj.execute(statement)

# Printing a message
print("All the data")

# Fetching a specific number of rows from the result set (in this case, 2 rows)
output_many = cursor_obj.fetchmany(2)

# Looping through each fetched row and printing its data
for row_many in output_many:
    print(row_many)

All the data
(1, 'Rav', 'Ahuja', 'TORONTO', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')

In [9]:
# SQL statement to select only the "FNAME" column from the "INSTRUCTOR" table
statement = '''SELECT FNAME FROM INSTRUCTOR'''

# Executing the SELECT statement using the cursor
cursor_obj.execute(statement)

# Printing a message
print("All the data")

# Fetching all rows from the result set, but only the "FNAME" column
output_column = cursor_obj.fetchall()

# Looping through each fetched row and printing the "FNAME" column value
for fetch in output_column:
    print(fetch)

All the data
('Rav',)
('Raul',)
('Hima',)

<Strong>Bonus: now write and execute an update statement that changes the Rav's CITY to MOOSETOWN</strong>

In [10]:
# SQL statement to update the "CITY" column in the "INSTRUCTOR" table
query_update = '''UPDATE INSTRUCTOR SET CITY='MOOSETOWN' WHERE FNAME="Rav"'''

# Executing the UPDATE statement using the cursor
cursor_obj.execute(query_update)

In [11]:
# SQL statement to select all rows from the "INSTRUCTOR" table
statement = '''SELECT * FROM INSTRUCTOR'''

# Executing the SELECT statement using the cursor
cursor_obj.execute(statement)

# Printing a message
print("All the data")

# Fetching a specific number of rows from the result set (in this case, 2 rows)
output1 = cursor_obj.fetchmany(2)

# Looping through each fetched row and printing its data
for row in output1:
    print(row)

All the data
(1, 'Rav', 'Ahuja', 'MOOSETOWN', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')

## Task 5: Retrieve data into Pandas

In this step we will retrieve the contents of the INSTRUCTOR table into a Pandas dataframe

In [12]:
import pandas as pd

#retrieve the query results into a pandas dataframe
df = pd.read_sql_query("select * from instructor;", conn)

#print the dataframe
df

   ID FNAME      LNAME       CITY CCODE
0   1   Rav      Ahuja  MOOSETOWN    CA
1   2  Raul      Chong    Markham    CA
2   3  Hima  Vasudevan    Chicago    US

In [13]:
#print just the LNAME for first row in the pandas data frame
df.LNAME[0]

'Ahuja'

Once the data is in a Pandas dataframe, you can do the typical pandas operations on it.

For example you can use the shape method to see how many rows and columns are in the dataframe

In [14]:
df.shape

(3, 5)

## Task 6: Close the Connection

We free all resources by closing the connection. Remember that it is always important to close connections so that we can avoid unused connections taking up resources.

In [15]:
# Close the connection
conn.close()

## Summary

In this tutorial you created a database & table in Python notebook using SQLite3. Then created a table and insert a few rows of data into it. Then queried the data. You also retrieved the data into a pandas dataframe.

The Python DB API is a tool that makes it easier for your Python programs to talk to databases. It follows a set of rules so that no matter which database you're using, your Python code can communicate with it in a consistent and understandable way. This saves you from having to learn all the nitty-gritty details of how each different type of database works.


## <h3 align="center"> © IBM Corporation 2022. All rights reserved. <h3/>